{
  "presets": [
    "env"
  ],
  "plugins": [
    "babel-polyfill",
    "babel-plugin-array-includes",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-arrow-functions"
  ]
}